body{
    font-family: "gilroy-light";
    margin: 0;
}

h1{
    font-size: 7vmin;
}

h2{
    font-size: 5vmin;
}

h3{
    font-size: 3vmin;
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}