html, body{
    margin: 0;
    height: 100%;
}

#c{
    width: 100%;
    height: 100%;
    display: block;
}

.btn-container{
    position: fixed;
    top: 0;
    left: 0;
}

#info{
    display: none;
}

.info {
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.473);
    padding: 40px;
}

.info h1 {
    margin-bottom: 30px;
}

#info__close {
    margin-top: 30px;
    text-decoration: underline;
    cursor: pointer;
}

.more-info {
    position: fixed;
    z-index: 101;
    top: 0;
    right: 0;
    font-size: 3rem;
    padding: 10px;
    cursor: pointer;
    color: black;
}

.controls {
    position: fixed;
    z-index: 102;
    background-color: rgba(0, 0, 0, 0.473);
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.controls button {
    margin: 5px;
    padding: 5px;
}

.ring {
    display: flex;
    flex-direction: column;
}

/* DESKTOP SCREENS */
@media only screen and (min-width: 768px) {

    .controls {
        display: none;
    }

}