.card_container{
    border: 1px solid var(--borderColor);
    padding: 1%;
    border-radius: 30px;

    display: flex;
    flex-direction: column;

    -webkit-box-shadow: 9px 3px 19px -2px var(--borderColor);
    -moz-box-shadow: 9px 3px 19px -2px var(--borderColor);
    box-shadow: 9px 3px 19px -2px var(--borderColor);

    transition: border 700ms, box-shadow 700ms;
}

.date_published__wrapper{
    text-align: end;
    margin: 0;
}

.date_published{

}

.summary{

}

.all_text{
    margin: 1%;
}

.page_title{
    margin: 0;
}

