<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animation</title>
</head>
<body>
    <canvas id="c" width="500px" height="500px"></canvas>

    <div id="layers"></div>


    <button onclick="save()">Save (CTRL-S)</button>
    <button onclick="clear_layers()">Clear (CTRL-D)</button>
    <button onclick="capture_frame()">Capture Frame (CTRL-F)</button>

</body>

<style>
    body {
        margin: 0;
        padding: 0;
    }
    canvas {
        display: block;
        margin: 0 auto;
        border: 1px solid black;
    }

    .layer {
        /* outline: 1px solid black; */
    }

    .selected {
        outline: 2px solid black;
    }
</style>

<script>
    const WIDTH = 500;
    const HEIGHT = 500;

    const MOVE_SPEED = 5;

    const layers_div = document.getElementById('layers');

    const c = document.getElementById('c');
    const ctx = c.getContext('2d');

    const frames = [];

    class PushArray extends Array {
        push(...args) {
            super.push(...args);
            console.log("push");
            this.update();
            return this.length;
        }

        splice() {
            super.splice(...arguments);
            console.log("splice");
            this.update();
            return this.length;
        }

        pop() {
            super.pop();
            console.log("pop");
            this.update();
            return this.length;
        }

        update() {
            layers_div.innerHTML = this.map((layer, i) => `<p class="layer" id="l-${i}"style="z-index: ${i}">layer: "${layer.id}"</p>`).join('');
        }
    }
    const layers = new PushArray();
    let selected_indeces = [];
    const clear_selected = () => {
        selected_indeces = [];
        for(const layer of layers_div.children) {
            layer.classList.remove('selected');
        }
    }

    const gen_id = () => Math.random().toString(36).substr(2, 5);
    const create_stroke = (x, y) => ({points:[[x, y]], id:gen_id()});
    const shift_stroke_points = (stroke, x, y) => {
        return stroke.points.map((point) => [point[0]+x, point[1]+y]);
    };    


    
    const redraw = () => {
        ctx.fillStyle = 'white';
        ctx.clearRect(0, 0, WIDTH, HEIGHT);
        ctx.fillRect(0, 0, WIDTH, HEIGHT);
        for(const {points} of layers) {
            ctx.beginPath();
            ctx.moveTo(points[0][0], points[0][1]);
            for(let i=1; i<points.length; i++) {
                ctx.lineTo(points[i][0], points[i][1]);
            }
            ctx.stroke();
        }
    }

    const capture_frame = () => {
        redraw();
        const data = ctx.getImageData(0, 0, WIDTH, HEIGHT);
        frames.push(data);
    };

    c.addEventListener('mousemove', (e) => {
        const x = e.offsetX;
        const y = e.offsetY;

        if(e.which == 0) {
            redraw();
            ctx.beginPath();
            ctx.fillStyle = "rgba(0, 0, 0, 0.4)";
            ctx.arc(x, y, 5, 0, 2 * Math.PI);
            ctx.fill();
        } else if(e.which == 1) {
            layers[layers.length-1].points.push([x, y]);
            redraw();
        }

    });

    c.addEventListener('mousedown', (e) => {
        if(e.which == 1) {
            console.log("added layer")
            layers.push(create_stroke(e.offsetX, e.offsetY));
        }
    });

    c.addEventListener('mouseout', (e) => {
        redraw();
    });

    var isShiftDown = false;
    document.addEventListener('keydown', (e) => {
        if(e.ctrlKey) {
            if(e.key == 'z') {
                if(layers.length > 0) {
                    layers.pop();
                    redraw();
                }
            } else if (e.key == 's') {
                save();
                event.preventDefault();
            } else if (e.key == 'd') {
                clear_layers();
                event.preventDefault();
            } else if(e.key == 'f') {
                capture_frame();
                event.preventDefault();
            }
        }

        if(e.key == 'Escape') {
            clear_selected();
        }

        if(e.key == 'Shift') {
            isShiftDown = true;
        }

        for(const selected_index of selected_indeces) {
            if(e.keyCode == 46) {
                    console.log("deleting layer");
                    layers.splice(selected_index, 1);
                    redraw();                
            }

            if(e.keyCode == 39) { // right
                layers[selected_index].points = shift_stroke_points(layers[selected_index], MOVE_SPEED, 0);
                redraw();
            } else if(e.keyCode == 37) { // left
                layers[selected_index].points = shift_stroke_points(layers[selected_index], -MOVE_SPEED, 0);
                redraw();
            } else if(e.keyCode == 40) { // up
                layers[selected_index].points = shift_stroke_points(layers[selected_index], 0, MOVE_SPEED);
                redraw();
            } else if(e.keyCode == 38) { // down
                layers[selected_index].points = shift_stroke_points(layers[selected_index], 0, -MOVE_SPEED);
                redraw();
            } 
        }

    });

    document.addEventListener('keyup', (e) => {
        if(e.key == 'Shift') {
            isShiftDown = false;
        }
    });


    // add event listener on layers class
    layers_div.addEventListener('mousedown', (e) => {
        if(e.target.className == "layer") {
            if(!isShiftDown) {
                clear_selected();
            }

            const layer_id = e.target.id.split('-')[1];
            if(e.which == 1) {
                e.target.className = "layer selected";
                selected_indeces.push(layer_id);
            }

        }
    });

    const clear_layers = () => {
        console.log("test")
        layers.splice(0, layers.length);
        redraw();
    }

    const save = () => {
        localStorage.setItem('layers', JSON.stringify(layers));
    }

    const load = () => {
        const layers_str = localStorage.getItem('layers');
        if(layers_str) {
            layers.splice(0, layers.length);
            layers.push(...JSON.parse(layers_str));
            redraw();
        }
    }



    const play_anim = (t) => {
        if(frames.length <= 0) return;
        var i = 0;
        const interval = setInterval(() => {
            ctx.clearRect(0, 0, WIDTH, HEIGHT);
            const frame = frames[i%frames.length];
            ctx.putImageData(frame, 0, 0);
            i++
        }, t);
    }

    (function(){
        load();
    })();
    
</script>



</html>