<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crossword</title>
</head>
<body>
    

    <script>

let WORDS = `power
desk
venture
deny
folk
knee
deprive
dragon
soak
leak`.split('\n');
        console.log(WORDS)

        const DIRECTION = {
            ACROSS:0,
            DOWN:1
        }


        class WordManager {

            words = [];

            addWord(word) {
                this.words.push(word);
            }

            getRandomWord() {
                return this.words[Math.floor(Math.random() * this.words.length)];
            }

            willWordFit(word) {

                const iX = word.x;
                const iY = word.y;
                const fX = word.fX
                const fY = word.fY;

                return this.words.every(w => {
                    var xTest = w.x < iX && fX < w.fX;
                    var yTest = w.y > iY && fY < w.fY;
                    if(!xTest) {
                        
                    }
                    console.log(w.x < iX && fX < w.fX)
                    return (w.x < iX && fX < w.fX && w.y > iY && fY < w.fY)
                });
            }
        }

        class Word {

            // The (x,y) coordinates of the first letter of the word
            constructor(word, x, y, direction) {
                this.word = word;
                this.x = x;
                this.y = y;
                this.fX = x;
                this.fY = y;
                this.direction = direction;

                if(this.direction === DIRECTION.ACROSS) {
                    this.fX = this.x + word.length - 1;
                } else {
                    this.fY = this.y - word.length + 1;
                }
            }

            getLetterOverlap(other_string) {
                let overlap = [];
                for(let i = 0; i < this.word.length; i++) {
                    for(let j=0;j<other_string.length;j++) {
                        if(this.word[i] === other_string[j]) {
                            overlap.push({
                                pos1: i,
                                pos2: j,
                                letter: this.word[i]
                            });
                        }
                    }
                }
                return overlap;
            } 
        }
        

        const wordManager = new WordManager();
        const firstWord = new Word(WORDS[0], 0, 0, DIRECTION.ACROSS);
        wordManager.addWord(firstWord);

        for (let i =1; i<2; i++) {

            const word_string = WORDS[i];

            const base_word = wordManager.getRandomWord();

            const overlap = base_word.getLetterOverlap(word_string);
            if(overlap.length == 0) { console.log('no overlap');continue; }

            overlap.forEach(({pos1, pos2, letter}) => {
                console.log(pos1, pos2, letter);

                const newDir = +!base_word.direction; // reverse the base direction

                let newX, newY;
                if(base_word.direction === DIRECTION.ACROSS) {
                    newX = base_word.x + pos1;
                    newY = base_word.y + pos2;
                } else {
                    newX = base_word.x - pos2;
                    newY = base_word.y + pos1;
                }

                const newWord = new Word(word_string, newX, newY, newDir);
                console.log(newWord)
                const wwf = wordManager.willWordFit(newWord);
                console.log(wwf);
            });


        }




    </script>

</body>
</html>