<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/three@0.140.0/build/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.122.0/examples/js/controls/OrbitControls.js"></script>
    <title>Field Lines</title>
</head>
<body>
    
    <canvas id="c"></canvas>
    <div class="info">
        <p>"Field Lines" <i>Inspired by <a href="https://www.rob-ley.com/field-lines">Rob Ley</a></i></p>
        <p class="directions-prompt" id="directions-prompt">Directions & Controls</p>

        <div class="directions" id="directions-box">
            <p>Use the arrow keys to change the position of the white sphere. This will determine where the lines are attracted to</p>
            <p>Press the space bar to speed up the attraction of the field lines.</p>
            <p id="close-directions">close...</p>
        </div>
    </div>


    <script>


        document.getElementById('directions-prompt').addEventListener('click', function(){
            console.log("thooughj")
            document.getElementById('directions-box').style.display = 'block';
        });

        document.getElementById('close-directions').addEventListener('click', function(){
            document.getElementById('directions-box').style.display = 'none';
        });
        
        document.addEventListener('keydown', function(e){
            if(e.keyCode == 27){
                document.getElementById('directions-box').style.display = 'none';
            }
        });



        const data = {
            x:0,
            y:0,
            z:3
        }

        function main() {
            const canvas = document.querySelector('#c');
            const renderer = new THREE.WebGLRenderer({canvas});
            renderer.autoClearColor = true;

            const fov = 40;
            const aspect = 2;  // the canvas default
            const near = 0.1;
            const far = 400;
            const camera = new THREE.PerspectiveCamera(fov, aspect, near, far);
            camera.position.set(50, 0, 0);
            camera.lookAt(new THREE.Vector3(0, 0, 0));

            const scene = new THREE.Scene();
            scene.background = new THREE.Color('gray');

            const controls = new THREE.OrbitControls(camera, canvas);
            controls.enablePan = false;
            controls.maxDistance = 100;

            controls.enableDamping = true;
            controls.dampingFactor = 0.2;
            controls.keys = {}

            {
                const light = new THREE.HemisphereLight( 'white', 0x080820, 1.5);
                scene.add( light );
            }


            class Plate {
                lines = [];
                plate_height = 40;
                plate_width = 30;
                constructor(){
                    this.__init();
                    this.__testing();
                }

                __init(){
                    const mesh = new THREE.Object3D();//new THREE.Mesh(geo, mat);
                    mesh.rotation.x = -Math.PI / 2;
                    mesh.rotation.y = Math.PI/2
                    scene.add(mesh);
                    this.plate = mesh;
                }

                __testing(){
                    // create sphere at 0,0
                    const sphereGeo = new THREE.SphereGeometry(.5, 32, 32);
                    const sphereMat = new THREE.MeshBasicMaterial({color: 'white'});
                    const sphere = new THREE.Mesh(sphereGeo, sphereMat);
                    sphere.position.set(0, 0, 0);
                    this.plate.add(sphere);
                    this.reference = sphere;
                }

                addFieldLine(x,y) {
                    const height = 3;
                    const geo = new THREE.BoxGeometry(.33, height, .1);
                    const color = Math.random() * 0xffffff;

                    const mat = new THREE.MeshPhongMaterial({color, side:THREE.DoubleSide});
                    const mesh = new THREE.Mesh(geo, mat);

                    const space = new THREE.Object3D();
                    space.add(mesh);
                    space.position.set(x, y, height/2);
                    space.rotation.x = Math.PI / 2;
                    space.rotation.y = Math.PI / 2;

                    this.plate.add(space);
                    
                    return {line:mesh, space}
                }

                populateFieldLines(){
                    const fieldLines = []
                    const spacing = 1;
                    const width = .33;
                    for(let y=-this.plate_height/2; y<this.plate_height/2; y+=spacing){
                        for(let x=-this.plate_width/2; x<this.plate_width/2; x+=(width+spacing)){
                            const line = this.addFieldLine(x,y)
                            this.lines.push(line);
                            fieldLines.push(
                                [line.space.position.x, line.space.position.y]
                            )
                        }
                    }
                    return fieldLines;
                }


                applyRotations(rotations, gravity) {
                    for(let i=0; i<rotations.length; i++){
                        const [space_rot, line_rot, dist] = rotations[i];
                        const space = this.lines[i].space;
                        const space_dif = space_rot - space.rotation.y;
                        space.rotation.y += space_dif/(gravity*dist);
                        // space.rotation.y = space_rot;
                        const line = this.lines[i].line;
                        const line_dif = line_rot - line.rotation.x;
                        line.rotation.x += line_dif/(gravity*dist);
                        //line.rotation.x = line_rot;
                    }
                }

            }


            const plate = new Plate();
            const fl = plate.populateFieldLines();

            const calculate_space_rotation = (space_x, space_y, grav_x, grav_y) => {
                const dX = space_x - grav_x;
                const dY = space_y - grav_y;
                const r = Math.atan2(dY, dX);
                return (Math.PI/2) + r;
            }

            const calculate_line_angle = (space_x, space_y, grav_x, grav_y, grav_z) => {
                const dX = space_x - grav_x;
                const dY = space_y - grav_y;
                const dist = Math.sqrt(dX*dX + dY*dY);
                const r = Math.atan2(grav_z, dist);
                return Math.PI/2 + r;
            }

            const calculate_distance = (space_x, space_y, grav_x, grav_y) => {
                const dX = space_x - grav_x;
                const dY = space_y - grav_y;
                return Math.sqrt(dX*dX + dY*dY);
            }

            function calculate_rotations(fieldLines, gravity) {
                const {x, y, z} = gravity;

                const rotations = [];
                for (const [space_x, space_y] of fieldLines) {
                    const space_rot = calculate_space_rotation(space_x, space_y, x, y);
                    const line_rot = calculate_line_angle(space_x, space_y, x, y, z);
                    const dist = calculate_distance(space_x, space_y, x, y);
                    rotations.push([space_rot, line_rot, dist]);
                }
                return rotations;
            }






            


            // add event listener to listen for key press
            const keydowns = {
                38: false, // up
                40: false, // down
                37: false, // left
                39: false, // right
                32: false, // space
            };

            document.addEventListener('keydown', function(event) {
                keydowns[event.keyCode] = true;
            });

            document.addEventListener('keyup', function(event) {
                keydowns[event.keyCode] = false;
            });

            var grav = 150;
            function render(time) {
                time *= 0.001;  // convert to seconds

                if(keydowns[38]){
                    data.x -= .1;
                }
                if(keydowns[40]){
                    data.x += .1;
                }
                if(keydowns[37]){
                    data.y -= .1;
                }
                if(keydowns[39]){
                    data.y += .1;
                }

                grav = 150;
                if(keydowns[32]){
                    grav = 10;
                }
                

                const rotations = calculate_rotations(fl, {x:data.x, y:data.y, z:data.z});
                plate.applyRotations(rotations, grav);
                plate.reference.position.set(data.x, data.y, data.z);


                if(resizeRendererToDisplaYSize(renderer)){
                    const canvas = renderer.domElement;
                    camera.aspect = canvas.clientWidth / canvas.clientHeight;
                    camera.updateProjectionMatrix();
                }

                controls.update()
                renderer.render(scene, camera);
                requestAnimationFrame(render);
            }

            requestAnimationFrame(render);

            function resizeRendererToDisplaYSize(renderer) {
                const canvas = renderer.domElement;
                const pixelRatio = window.devicePixelRatio;
                const width = canvas.clientWidth * pixelRatio | 0;
                const height = canvas.clientHeight * pixelRatio | 0;
                const needResize = canvas.width !== width || canvas.height !== height;
                if (needResize){
                    renderer.setSize(width, height, false);
                }
                return needResize;
            }


        }

        main();
    </script>

    <style>
        html, body{
            margin: 0;
            height: 100%;
        }

        #c{
            width: 100%;
            height: 100%;
            display: block;
        }

        .info {
            position:fixed;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            /* background-color: red; */
            top:0;
            width: 100%;
            z-index: 100;
        }

        .info > p {
            margin: 0;
            margin-top: 10px;
        }

        .directions-prompt {
            cursor: pointer;
        }

        .directions {
            display: none;
        }

        #directions-box {
            text-align: center;
            background-color: white;
            padding: 10px;
        }

        #close-directions {
            cursor: pointer;
        }

    </style>

</body>
</html>