{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'snippets/meta.html'%}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'sketches/snippets/moreinfo.css' %}">
    <link rel="stylesheet" href="{% static 'sketches/hungarian/style.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/three@0.122.0/build/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.122.0/examples/js/controls/OrbitControls.js"></script>
    <script type="module" src="{% static 'sketches/hungarian/script.js' %}"></script>

</head>
<body>
    
    <div class="more-info">
        <div class="fa-question-circle fa" id="question"></div>
    </div>

    <canvas id="c"></canvas>

    <div class="info" id='info'>
        <h1>Hungarian Beads</h1>
        <p>Use 'd' and 'f' to rotate the left ring.</p>
        <p>Use 'k' and 'j' to rotate the right ring.</p>
        <p id="info__close">close</p>
    </div>

    <div class="controls">
        <div class="left ring">
            <button id="left-clock">Left Clockwise</button>
            <button id="left-counter">Left Counter-Clockwise</button>
        </div>

        <div class="right ring">
            <button id="right-clock">Right Clockwise</button>
            <button id="right-counter">Right Counter-Clockwise</button>
        </div>
    </div>

    <script>



        </script>

        <style>



        </style>


</body>
</html>