{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulation of Spontaneous Synchronization with the Kuramoto Model</title>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></head>
    <link rel='stylesheet' href="{% static 'fonts/font.css' %}">
    <link rel="stylesheet" href="{% static 'sketches/kuramoto/style.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/three@0.122.0/build/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.122.0/examples/js/controls/OrbitControls.js"></script>
    <script type="module" src="{% static 'sketches/kuramoto/script.js' %}"></script>
    <script src="{% static 'sketches/scripts/popup_vanilla.js' %}"></script>

    
    <meta name="description" content="Simulating the Kuramoto model with metronome oscillators using THREE.js">

    <meta property="og:url" content="https://nathanielc.com/sketches/kuramoto">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Simulation of Spontaneous Synchronization with the Kuramoto Model">
    <meta property="og:description" content="Simulating the Kuramoto model with metronome oscillators using THREE.js">
    <meta property="og:image" content="https://nathanielc.com{% static 'meta/kuramoto.png' %}">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="nathanielc.com">
    <meta property="twitter:url" content="https://nathanielc.com/sketches/kuramoto">
    <meta name="twitter:title" content="Simulation of Spontaneous Synchronization with the Kuramoto Model">
    <meta name="twitter:description" content="Simulating the Kuramoto model with metronome oscillators using THREE.js">
    <meta name="twitter:image" content="https://nathanielc.com{% static 'meta/kuramoto.png' %}">


    {% include 'snippets/tracker.html' %}

<body>

    <div class="more-info">
        <div class="fa-question-circle fa" id="question"></div>
    </div>

    <div class="phone" id="toggle-controls">
        <p>Toggle Controls</p>
    </div>

    <div class="popup" id="popup">
        <span class="helper"></span>
        <div >
            <p>Spontaneous Synchronization in Pendulums</p>
            <p>using the Kuramoto model</p>
            <P>Read the <a href="https://blog.nathanielc.com/kuramoto-model">blog post!</a></P>
            <p class="close-button" id="close-button"><i>close...</i></p>
        </div>
    </div>

    <div class="controls" id="controls">
        <canvas id="control-canvas" width="400" height="400"></canvas>
        <div class="pp-container">
            <span id="play-pause" class="fa fa-play"></span>
            <span id="pp-text">play</span>
        </div>
    </div>

    <div class="params">
        <label for="k-value">K value (coupling factor): <bold id="k-val__text">0.1</bold></label>
        <input id="k-value" type="range" style="width: 200px;" min=".001" max="10" step=".001" value=".1">
    </div>

    <div id="start-text">
        <h1>Click <span id="play-text">play</span> to start</h1>
        <h1 class="desktop">drag circles to alter a pendulums phase.</h1>
        <h2 class="phone-text phone">Press "toggle controls" to alter the phase.</h2>
    </div>


    <div class="tag" id="tag">
        <p>Created by <a href="https://nathanielc.com/">Nathaniel C.</a> <span class="desktop">Read the <a href="https://blog.nathanielc.com/kuramoto-model">blog post!</a></span></p>
    </div>

    <canvas id="c"></canvas>    

</body>


</html>