{% load static %}
<html>

    <head>
        <title>Line</title>
    
        <script src="https://code.jquery.com/jquery-3.6.0.slim.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel='stylesheet' href="{% static 'fonts/font.css' %}">

        <script src="https://cdn.jsdelivr.net/npm/three@0.122.0/build/three.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/three@0.122.0/examples/js/controls/OrbitControls.js"></script>
        <script src="{% static 'three/THREE.MeshLine.js' %}"></script>
    

    </head>
    

    <body>


        <div class="top-bar">
            <div class="fa-question-circle fa" id="question"></div>
        </div>

        <div class="popup">
            <span class="helper"></span>
            <div >
                <p>Chaos as represented by the Lorenz System.</p>
                <p>Open the controls in the top right to change the starting positions of the runners</p>
                <p>Observe the wildly different results from small variations</p>
                <p class="close-button"><i>close...</i></p>
            </div>
        </div>

        <canvas id="c"></canvas>



        <script type="module">

            import { GUI } from 'https://cdn.jsdelivr.net/npm/three@0.122.0/examples/jsm/libs/dat.gui.module.js';


            function main() {
                const canvas = document.querySelector('#c');
                const renderer = new THREE.WebGLRenderer({canvas});

                const scene = new THREE.Scene();
                scene.background = new THREE.Color(0x363636)



                const fov = 45;
                const aspect = 2;  // the canvas default
                const near = 0.1;
                const far = 300;
                const camera = new THREE.PerspectiveCamera(fov, aspect, near, far);

                const cameraScene = new THREE.Object3D();
                scene.add(cameraScene)
                cameraScene.add(camera);

                camera.position.set(100, 0, 100);

                const controls = new THREE.OrbitControls(camera, canvas);
                controls.target.set(0,5,0);
                //controls.enableDamping = true;
                controls.update()

                const color = 0xFFFFFF;
                const intensity = 1;
                const light = new THREE.PointLight(color, intensity);
                light.position.set(0, 100, 0);
                scene.add(light);


                const radius = 1;
                const widthSegments = 6;
                const heightSegments = 6;
                const sphereGeometry = new THREE.SphereBufferGeometry(
                    radius, widthSegments, heightSegments);
                const sphereMat = new THREE.MeshPhongMaterial({color:0x121212});
                const spmesh = new THREE.Mesh(sphereGeometry, sphereMat)
                spmesh.position.set(10,5,30)
                //scene.add(spmesh);


                var runners = [
                    {
                        x:.1,
                        y:1,
                        z:1,
                        color:0xeb3455
                    },

                    {
                        x:.11,
                        y:1,
                        z:1,
                        color:0x349feb
                    },

                    {
                        x:.1,
                        y:.99,
                        z:1,
                        color:0x34eb43
                    }, 
                ]


                var variables = {
                    red:.1,
                    blue:.11,
                    green:.1,
                }

                var gui = new GUI({
                    height : 5 * 32 - 1
                });
                gui.closed = true;
                
                gui.add(variables, 'red').name("Red").onFinishChange(function(){
                    initilatize();
                })

                gui.add(variables, 'blue').name("Blue").onFinishChange(function(){
                    initilatize();
                })

                gui.add(variables, 'green').name("Green").onFinishChange(function(){
                    initilatize();
                })


                const inScene = [];
                function initilatize(){

                    runners = [
                        {
                            x:variables.red,
                            y:1,
                            z:1,
                            color:0xeb3455
                        },

                        {
                            x:variables.blue,
                            y:1,
                            z:1,
                            color:0x349feb
                        },

                        {
                            x:variables.green,
                            y:.99,
                            z:1,
                            color:0x34eb43
                        }, 
                    ]

                    inScene.forEach((mesh) => {
                        scene.remove(mesh);
                    });

                    runners.forEach((runner) => {
                        const points = [];
                        points.push(runner.x, runner.y, runner.z);

                        const line = new MeshLine();
                        line.setPoints(points, customTaper);

                        const material = new MeshLineMaterial({color:new THREE.Color(runner.color)});
                        const mesh = new THREE.Mesh(line, material);
                        inScene.push(mesh);
                        scene.add(mesh)


                        runner.line = line;

                    });
                }


                initilatize();


                function customTaper(p){
                    return Math.max(0.1, p)
                }


                
                /*
                const points = [];
                points.push(0,0,0,1,1,1)



                const line = new MeshLine();
                line.setPoints(points, p => 1);


                const material = new MeshLineMaterial({color:new THREE.Color(0x42cbf5)});
                const mesh = new THREE.Mesh(line, material);
                mesh.position.y = 2;
                scene.add(mesh);
                console.log(mesh)
                */


                const ROH = 28
                const SIGMA = 10
                const BETA = 8/3

                const t = 0.01

                function render(time){
                    time *= 0.001;

                    if(resizeRendererToDisplaYSize(renderer)){
                        const canvas = renderer.domElement;
                        camera.aspect = canvas.clientWidth / canvas.clientHeight;
                        camera.updateProjectionMatrix();
                    }



                    
                    runners.forEach((runner) => {

                        const x = runner.x;
                        const y = runner.y;
                        const z = runner.z;


                        const points = runner.line.points;
                        points.push(x,y,z);
                        runner.line.setPoints(points, customTaper);


                        const dx = SIGMA*(y-x);
                        const dy = (x * (ROH - z)) - y;
                        const dz = (x*y) - (BETA*z)

                        runner.x += dx*t;
                        runner.y += dy*t;
                        runner.z += dz*t;

                    });
                    




                    {
                        cameraScene.rotation.y = -time*0.1;
                        camera.lookAt(10,4,25)

                    }


                    /*
                    points.push(1, 1+Math.sin(time), 1+time)
                    line.setPoints(points, p => 1)
                    */

                    renderer.render(scene, camera);
                    requestAnimationFrame(render);
                }





                controls.update()



                function resizeRendererToDisplaYSize(renderer) {
                    const canvas = renderer.domElement;
                    const pixelRatio = window.devicePixelRatio;
                    const width = canvas.clientWidth * pixelRatio | 0;
                    const height = canvas.clientHeight * pixelRatio | 0;
                    const needResize = canvas.width !== width || canvas.height !== height;
                    if (needResize){
                        renderer.setSize(width, height, false);
                    }
                    return needResize;
                }

                requestAnimationFrame(render);

            }

            main()



        </script>


    </body>



    <script>
        $(window).on('load', function () {
            $("#question").click(function(){
                $(".popup").show();
            });

            $(".popup").click(function(){
                $(".popup").hide();
            });

            $(".close-button").click(function(){
                $(".popup").hide();
            });

            document.addEventListener('keyup', (e) => {
                if (e.keyCode == 27){
                    $(".popup").hide();
                }

            });

        });
    </script>


    <style>
        .top-bar{
            position: fixed;
            top: 0;
            left: 0;
            z-index: 101;
            color: white;
            font-size: 2em;
            text-shadow: 2px 2px #000000;
            padding: 2%;
            text-align: end;
        }

        .popup{
            background:rgba(0, 0, 0, 0.925);
            color: white;
            cursor:pointer;
            display:none;
            height:100%;
            position:fixed;
            text-align:center;
            top:0;
            width:100%;
            z-index:10000;
        }

        .popup p{
            font-size: 2em;
        }
        .popup i{
            font-size: .75em;
        }

        .popup .attr{
            font-size: 1.5em;
        }
        .popup .attr{
            font-size: 1.8em;
        }

        .popup .helper{
            display:inline-block;
            height:100%;
            vertical-align:middle;
        }

        .popup > div {
            display: inline-block;
            height: auto;
            max-width: 100%;
            min-height: 100px;
            vertical-align: middle;
            width: 60%;
            position: relative;
            border-radius: 8px;
            padding: 15px 5%;
        } 

        .dgac{
            z-index: 100;
        }
    </style>

    <style>

        html, body{
            margin: 0;
            height: 100%;
            font-family: gilroy;
        }

        #c{
            width: 100%;
            height: 100%;
            display: block;
        }

    </style>

</html>