<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Game</title>
</head>
<body>
    
    <div id="container" class="centered">
        <div id="step-1" class="centered" style="display: block;">

            <div class="info centered">
                <h1>The Music Matching Game</h1>
                <p>Test your knowledge of music by connecting different artists together</p>
                <p>Choose a starting and ending artist to get started</p>    
            </div>



            <div class="input-box centered">
                <div id="start-artist"></div>
                <div id="end-artist"></div>
            </div>


            <div id="difficulty-box" class="centered">
                <div>
                    <input type="radio" id="easy-button" name="difficulty" value="EASY" checked>
                    <label for="easy-button">easy</label><br>
                </div>
                <div>
                    <input type="radio" id="hard-button" name="difficulty" value="HARD">
                    <label for="hard-button">hard</label><br>
                </div>
            </div>

            <div class="input-box">
                <button id="start-button" onclick="start()" disabled style="padding-left: 10px; padding-right: 10px;">Start</button>                
            </div>
        </div>
        
        <div id="step-2" class="centered" style="display: none">
            <div class="info centered">
                <h1>The Music Matching Game</h1>
                <p>Starting at: <b><span id="start-artist-span" class="artist-name-text"></span></b></p>
                <p>Ending at: <b><span id="end-artist-span" class="artist-name-text"></span></b></p>
                <p>Difficulty: <span id="difficulty-span" class="artist-name-text"></span></p>
                <p>Time: <b><span id="running-time-span" class="artist-name-text"></span></b></p>
            </div>

            <div class="info centered" style="margin: 25px">
                <p id="artist-chain"></p>
            </div>


            <div id="artist-options" class="centered"></div>
        </div>

        <div id="step-3" style="display: none">
            <div class="info centered">
                <h1 id="congrats">Amazing!</h1>
                <p>Steps: <b><span id="total-steps-span" class="artist-name-text"></span></b></p>
                <p>Time: <b><span id="total-time-span" class="artist-name-text"></span></b></p>
                <p>Difficulty: <span id="difficulty1-span" class="artist-name-text"></span></p>
                <p>Score: <span id="score-span" class="artist-name-text"></span></p>

                <div class="info centered" style="margin: 25px">
                    <p id="artist-chain1"></p>
                </div>`

                <div class="input-box">
                    <button id="play-again-button" onclick="playAgain()" style="padding-left: 30px; padding-right: 30px;">Play Again</button>
                    <button id="share-button" onclick="share()" style="padding-left: 30px; padding-right: 30px;">Share</button>                
                    <p id="copy-notification" style="display: none;">Copied to clipboard!</p>
                </div>

            </div>
        </div>

    </div>
    
    <script>

        const queryURL = (query) => `https://www.music-map.com/typeahead?query=${query}`;
        const difficultyTranslator = {
            0: "easy",
            1: "hard"
        }

        const difficultyScale = {
            0: .5,
            1: .15
        }


        function displayError(msg) {
            console.error(msg);
        }

        const chainGenerator = (chain) => chain.reduce((prev, cur, i) => {
            return prev + cur + " → "
        }, "");

        const timeGenerator = (seconds) => {
            const secs = seconds % 60;
            const mins = Math.floor(seconds/60);
            return mins.toString().padStart(1, '0') + ":" + secs.toString().padStart(2, '0');
        }

        const scorer = (raw_score, max_raw) => {
            if (raw_score > max_raw) return 0;
            const scaled_x = (raw_score/max_raw) * 4
            const exp = (x) => 2 - Math.pow(Math.E, (x-3)*.69)
            const y = exp(scaled_x)
            return y * 1000 / exp(0)
        }

        function startStep1() {
            document.getElementById('step-1').style.display = "block";
            document.getElementById('step-2').style.display = "none";
            document.getElementById('step-3').style.display = "none";
        }

        function playAgain() {
            window.startArtist = "";
            window.endArtist = "";
            window.difficulty = 0;
            window.artistChain = [];
            window.time = 0;
            window.timer = null;
            startStep1()
        }

        function share() {
            if (document.getElementById('step-3').style.display !== "block") return;
            const chain = chainGenerator(artistChain)
            const text = "🎵The Music Game🎵\n" + chain.slice(0, chain.length - 3) + "\n🏆" + Math.floor(window.score) + "🏆"
            navigator.clipboard.writeText(text)
            document.getElementById("copy-notification").style.display = "block";
        }

        function startStep3() {
            document.getElementById('step-2').style.display = "none";
            document.getElementById('step-3').style.display = "block";

            document.getElementById("total-steps-span").innerHTML = window.artistChain.length - 1;
            document.getElementById("total-time-span").innerHTML = timeGenerator(window.time);
            document.getElementById("difficulty1-span").innerHTML = difficultyTranslator[window.difficulty];

            const MAX_SCORE = 10000;
            // higher is worse for raw score
            const raw_score = window.time * (window.artistChain.length - 1) * difficultyScale[window.difficulty];
            const worst = 60 * 7 * .5;
            window.score = scorer(raw_score, worst);
            document.getElementById('score-span').innerHTML = Math.floor(window.score);

            const chain = chainGenerator(artistChain);
            document.getElementById("artist-chain1").innerHTML = chain.slice(0, chain.length - 3);


        }

        async function getRelatedArtists(artistName) {
            const res = await fetch(`/sketches/api/musicmap/${artistName}`);
            const data = await res.text();
            const parser = new DOMParser();
            const parsedDocument = parser.parseFromString(data, "text/html");
            const gnodMap = parsedDocument.getElementById("gnodMap")
            const artists = Array.from(gnodMap.querySelectorAll("a")).slice(1).map((artistElement) => artistElement.text);
            return artists;
        }


        async function chooseArtist(artist) {
            artistChain.push(artist);
            document.getElementById("artist-chain").innerHTML = chainGenerator(window.artistChain);
            if (artist == window.endArtist) {
                const artistChain = document.getElementById("artist-chain");
                const chain = artistChain.innerHTML;
                artistChain.innerHTML = chain.substring(0, chain.length - 7)
                const artistOptions = document.getElementById("artist-options"); artistOptions.innerHTML = "";
                clearInterval(window.timer);
                startStep3();
                return;
            }

            const artists = await getRelatedArtists(artist)
            const chosenArtists = Math.round((artists.length)*difficultyScale[window.difficulty]);
            const randomArtists = artists.sort( () => Math.random() - 0.5).slice(0, chosenArtists);
            if (artists.includes(window.endArtist) && !randomArtists.includes(window.endArtist)) {
                randomArtists[Math.floor(Math.random()*randomArtists.length)] = window.endArtist;
            }
            const artistOptions = document.getElementById("artist-options"); artistOptions.innerHTML = "";
            randomArtists.forEach((artist) => {
                const item = document.createElement("p");
                item.innerHTML = artist;
                item.className = "item"
                if (artist == window.endArtist) item.className += " special-item"
                item.onclick = () => {
                    artistOptions.innerHTML = "";
                    chooseArtist(artist);
                }
                artistOptions.append(item);
            });
        }

        async function startStep2() {
            document.getElementById('step-1').style.display = "none";
            document.getElementById('step-2').style.display = "block";
            document.getElementById("start-artist-span").innerHTML = window.startArtist;
            document.getElementById("end-artist-span").innerHTML = window.endArtist;
            document.getElementById("difficulty-span").innerHTML = difficultyTranslator[window.difficulty];
            window.artistChain = []

            window.time = 0;
            window.timer = setInterval(() => {
                window.time++;
                document.getElementById("running-time-span").innerHTML = timeGenerator(window.time);
            }, 1000)
            chooseArtist(window.startArtist);
        }


        // window.startArtist = "The Strokes";
        // window.endArtist = "The Beatles";
        // window.difficulty = 0;
        // startStep2();

        async function validateAristName(name) {
            const res = await fetch(queryURL(name))
            const data = (await res.text()).trim();
            if (data.length == 0) return false;
            return data.split('\n')[0] == name;
        }        

        async function start() {
            const startArtist = document.getElementById("start-artist-input").value;
            const endArtist = document.getElementById("end-artist-input").value;
            if (!(await validateAristName(startArtist) && await validateAristName(endArtist))) {
                displayError("Artist names are not valid");
                return;
            }
            window.startArtist = startArtist;
            window.endArtist = endArtist;

            if (document.getElementById('easy-button').checked) {
                window.difficulty = 0;
            } else if (document.getElementById('hard-button').checked) {
                window.difficulty = 1;
            }

            document.getElementById("start-artist-input").innerHTML = "";
            document.getElementById("end-artist-input").innerHTML = "";
            document.getElementById("step-1").style.display = "none";
            startStep2();
        }
        
        function updateStartButton() {
            const startArtistName = document.getElementById("start-artist-input").value.trim();
            const endArtistName = document.getElementById("end-artist-input").value.trim();
            const startButton = document.getElementById("start-button");
            if (startArtistName.length != 0 && endArtistName.length != 0) {
                startButton.disabled = false;
            } else {
                startButton.disabled = true;
            }
        }

        function artistSelectionButton(containerID, placeholder){
            const container = document.getElementById(containerID);
            const inputField = document.createElement("input");
            const dropdown = document.createElement("div")
            inputField.type = "text";
            inputField.autocomplete = "off";
            inputField.id = `${containerID}-input`;
            inputField.placeholder = placeholder;
            inputField.className = "artist-name"
            dropdown.className = "dropdown"

            const createDropdownElement = (text, specialClass) => {
                const item = document.createElement("p");
                item.innerHTML = text;
                if (specialClass == "") {
                    item.onclick = () => {
                        dropdown.innerHTML = "";
                        inputField.value = text;
                    }
                }
                item.className = ["dropdown-item", specialClass].join(" ");
                return item;
            }

            inputField.onkeyup = () => {
                fetch(queryURL(inputField.value))
                    .then(res => res.text())
                    .then(data => {
                        dropdown.innerHTML = "";
                        const artists = data.split("\n")
                        if (artists[0] == '') {
                            if (inputField.value.trim().length != 0) {
                                dropdown.appendChild(createDropdownElement("no artists found", "error-item"));
                            }
                        } else {
                            artists.forEach(artist => {
                                dropdown.appendChild(createDropdownElement(artist, ""))
                            }); 
                        }
                    });
                    updateStartButton();
            };

            container.appendChild(inputField);
            container.appendChild(dropdown);
        }

        artistSelectionButton("start-artist", "starting artist")
        artistSelectionButton("end-artist", "ending artist")

        const START_BUTTON = document.getElementById("start-button");
        
    </script>

    <style>

        html, body {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .centered {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .dropdown-item, .item {
            width: 200px;
            border: 2px solid black;
            cursor:pointer;
            padding: 3px;
            margin: 3px;
        }

        #container {
            /* background-color: purple; */
            padding-top: 10vh;
            padding-bottom: 10vh;
        }

        .info {
            margin: 10px;
        }
        .info > h1 {
            margin: 10px;
        }
        .info > p{
            margin: 2px;
        }

        .input-box {
            margin: 10px;
            display: flex;
            flex-direction: column;
            gap: 5px;
        }


        .error-item {
            cursor: default;
        }

        .special-item {
            border: 2px solid red;
        }

        #artist-options {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

</style>

</body>
</html>