{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'snippets/meta.html'%}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
    
    <!--
    <input type="text" placeholder="ask for token" id="token"/>
    -->
    <div class="content">

    <h1>Spotify Collage Generator</h1> 
    <canvas id="c" width="1000" height="1000"></canvas>

    <input type="text" placeholder="https://open.spotify.com/playlist/2ozHj..." id="playlistUrl" />
    <button id="createButton" onclick="createCollage()">Create!</button>

    </div>
    <!-- <button onclick="downloadImage()">Download Image.</button> -->
</body>


<script>

    let OAUTH_TOKEN = "BQDs5tzUahohB3utY0wlBgvtTQCF-3FmDvg90og3dG3Vvm18AAN5UL4B4aGrKE6QxK6KhZFreEsCequ57UvMtWc5_50bisZt9iqLdnBXYeF-c8oYRS6zE2v5QW7_tA3qFm055EUznNPAVPJqNIJBeXO5LvOpgzOtCnGgedJ5WsB1vIQ_8Ia3ElStFAq6CSmDxxBzfMhFTUNu3CiWNKLwUZooclWUiFdJXTsI07EAq-4imUy_Xg1fnIxTaJSMwzCNJunsm4VrzJm9qx3R6I6TAgphBW0CIl5GtzEH";
    let PLAYLIST_API = "https://api.spotify.com/v1/playlists/";
    let PARAMS = "/tracks?market=ES&fields=items(added_by.id%2Ctrack(name%2Chref%2Calbum(name%2Chref%2Cimages)))&limit=100&offset=";//0";

    
    function getAccessToken() {
        return "{{accessToken}}";    
    }

    async function getData(playlistID, token){

        const items = [];
        var count = 1, i=0;

        while(count > 0){
            const params = PARAMS + (i*100);
            const res = await fetch(PLAYLIST_API + playlistID + params, {
                headers:{
                    'Authorization': "Bearer "+token
                }
            });
            const data = await res.json();
            items.push(...data["items"]);
            count = data["items"].length;
            i++;
        }

        console.log(items);
        itemsToCanvas(items);
    }

    function createCollage(){
        const playlistID = (document.getElementById("playlistUrl").value).match(/playlist\/([a-zA-Z0-9]+)/)[1];
        const token = getAccessToken(); // document.getElementById("token").value;
        getData(playlistID, token)
    }

    // const r = "https://open.spotify.com/playlist/2ozHjQQPObHmNZ3X1NXo4n?si=022e5dc40ca245aa".match(/playlist\/([a-zA-Z0-9]+)/);
    // console.log(r[1]);
    //getData("1H8x3NpOD4nBV20ExakdwW", OAUTH_TOKEN);

</script>


<script>
    var canvas = document.getElementById('c'),
    context = canvas.getContext('2d');
    const SIZE = 1000;

    async function itemsToCanvas(items){
        const songs = {};

        for(const item of items){
            name = item["track"]["album"]["name"];
            if(songs[name]){
                songs[name]["count"] += 1;
                continue;
            }

            image = item["track"]["album"]["images"][0]["url"];
            songs[name] = {
                name, image, count:1
            }
        }
        


        console.log(songs);

        {
            const totalItems = Object.keys(songs).length;
            console.log(totalItems)
            const itemsPerRow = Math.floor(Math.sqrt(totalItems));
            const multiplierX = SIZE / itemsPerRow //Math.floor(SIZE / itemsPerRow);
            var row = -1;
            for(var i=0; i<totalItems; i++){
                if(i % itemsPerRow == 0){
                    row++;
                }
                const key = Object.keys(songs)[i];
                const url = songs[key].image;
                //console.log(key, row)
                addImage(url, multiplierX*(i%itemsPerRow), multiplierX*row, multiplierX);
            }
        }
    
    }

    function addImage(url, x, y, size){
        const base_image = new Image();
        base_image.crossOrigin="anonymous";
        base_image.src = url;
        //console.log(base_image)
        base_image.onload = function(){
            context.drawImage(base_image, x, y, size, size);
        }
 
    }

</script>

<script type="te">

    var canvas = document.getElementById('c'),
    context = canvas.getContext('2d');
    const SIZE = 1000;
    const playlistUrls = ["playlist.json", "playlist100-200.json"]

    async function main(){
        const songs = {};

        for (const playlistUrl of playlistUrls){
            const response = await fetch(playlistUrl);
            const data = await response.json(); 
            //console.log(data);

            const items = data["items"];

            for(const item of items){
                name = item["track"]["album"]["name"];
                if(songs[name]){
                    songs[name]["count"] += 1;
                    continue;
                }

                image = item["track"]["album"]["images"][0]["url"];
                songs[name] = {
                    name, image, count:1
                }
            }
        }


        console.log(songs);

        {
            const totalItems = Object.keys(songs).length;
            console.log(totalItems)
            const itemsPerRow = Math.floor(Math.sqrt(totalItems));
            const multiplierX = SIZE / itemsPerRow //Math.floor(SIZE / itemsPerRow);
            var row = -1;
            for(var i=0; i<totalItems; i++){
                if(i % itemsPerRow == 0){
                    row++;
                }
                const key = Object.keys(songs)[i];
                const url = songs[key].image;
                //console.log(key, row)
                addImage(url, multiplierX*(i%itemsPerRow), multiplierX*row, multiplierX);
            }
        }
    }
    
    function addImage(url, x, y, size){
        const base_image = new Image();
        base_image.crossOrigin="anonymous";
        base_image.src = url;
        //console.log(base_image)
        base_image.onload = function(){
            context.drawImage(base_image, x, y, size, size);
        }
 
    }

    main();

    //addImage("https://i.scdn.co/image/ab67616d0000b273397d02cfe1aab2923f9d1697", 300, 300, 300);

    function downloadImage(){
        console.log("DOWNLOAD")
        var canvas = document.getElementById("c");
        var img = canvas.toDataURL("image/png");
        img.crossOrigin="anonymous";
        document.write('<img src="'+img+'"/>');
    }

</script>








<script type="text">
    let OAUTH_TOKEN = "BQAfgmeOhB8MLjNXVPXCP8B7kfCqvqQOd-uIr2MMay6z7gnTp1peI_tVhCUTGDaUPHHTxRh-yOzxTlrLRXU";
    let PLAYLIST_API = "https://api.spotify.com/v1/playlists/";
    let PARAMS = "/tracks?market=ES&fields=items(added_by.id%2Ctrack(name%2Chref%2Calbum(name%2Chref%2Cimages)))&limit=5&offset=5";
    const playlistID = "1H8x3NpOD4nBV20ExakdwW";


    async function main(){
        const res = await fetch(PLAYLIST_API + playlistID + PARAMS, {
            headers:{
                'Authorization': "Bearer "+OAUTH_TOKEN
            }
        });
        const data = await res.json();

        console.log(data);

        const items = data["items"];
        const songs = [];

        for(const item of items){
            name = item["track"]["album"]["name"];
            image = item["track"]["album"]["images"][0]["url"];
            songs.push({name, image});
            $(".content").append(`<img src="${image}" />`);
        }

        console.log(songs);
    }

    main();
</script>

<style>
    #c{
        border: 2px solid black;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height 100%;
    }
    
    html, body {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        color: black;
        width: 100%;
        height: 100%;
        margin: 0;
        font-family: none;
     
    }

</style>

</html>
